// CONTENT (SPARTACUS)
// --------------------------------------------------------------------
.spartacus-back {
    display: inline-block;
    margin: 1rem 0;

    &:before {
        content: '← ';
    }
}
