// SPARTACUS: PLUGIN LIST
// --------------------------------------------------------------------
.spartacus-group {
    @media screen and (min-width: $md) {
        display: flex;
        flex-wrap: wrap;
    }

    > h3 {
        border-bottom: 1px dashed $s9y-blue-dark;
        margin-top: 1.5rem;

        @media screen and (min-width: $md) {
            flex: 0 1 100%;
        }
    }

    &:first-of-type > h3 {
        margin-top: 0;
    }
}

.plugin {
    background: $lite-grey;
    border: 1px solid $silver;
    box-sizing: border-box;
    padding: 0 .5rem;
    margin: 1rem 0;

    @media screen and (min-width: $md) {
        flex: 0 1 48.5%;
        margin: 0 0 1rem;

        &:nth-of-type(odd) {
            margin-right: 1.5%;
        }

        &:nth-of-type(even) {
            margin-left: 1.5%;
        }
    }
}

.plugin_name {
    font-weight: normal;
    font-style: italic;
}

.plugin_actions {
    @extend %plain-list;

    li {
        display: inline-block;
        margin-right: .5rem;
    }
}
