// SPARTACUS: THEME LIST
// --------------------------------------------------------------------
.theme {
    background: $lite-grey;
    border: 1px solid $silver;
    box-sizing: border-box;
    padding: 0 .5rem;
    margin: 1rem 0;

    @media screen and (min-width: $md) {
        flex: 0 1 48.5%;
        margin: 0 0 1rem;

        &:nth-of-type(odd) {
            margin-right: 1.5%;
        }

        &:nth-of-type(even) {
            margin-left: 1.5%;
        }
    }
}

.theme-single {
    @media screen and (min-width: $md) {
        flex: 0;
        margin: 0 0 1rem;

        &:nth-of-type(odd) {
            margin-right: 0;
        }

        &:nth-of-type(even) {
            margin-left: 0;
        }
    }
}

.theme_name {
    margin-bottom: 1rem;
}

.theme_actions {
    @extend %plain-list;

    li {
        display: inline-block;
        margin-right: .5rem;
    }
}
