// ARTICLES
// --------------------------------------------------------------------
.serendipity_entry {
    @include clearfix;

    > footer {
        clear: both;

        li {
            display: inline-block;
            margin-right: .4rem;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.read-more {
    display: inline-block;
    margin: 1rem 0;

    &::after {
        content: ' →';
    }
}
