// SIDEBAR (BLOG)
// --------------------------------------------------------------------
// SIDEBAR SEPERATOR
#content {
    @media screen and (min-width: $md) {
        border-left: 1px solid $silver;
    }
}

// SEARCH FORM
#searchform {
    label {
        @include visuallyhidden;
    }
}

// DEVELOPMENT STATE
.s9y_dev_state {
    background: $s9y-blue-lite;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 0.5rem;

    dt {
        font-weight: normal;
    }

    dd {
        font-weight: bold;
    }
}

// SYNDICATION (TMP)
#serendipity_syndication_list li:nth-child(1n + 2) {
    display: none;
}
